body {
  background-color: aliceblue;
}

h1 {
  text-align: center;
}

div {
  width: 75%;
  border: 2px solid black;
  margin: 10px auto;
  border-radius: 15px;
  background-color: rgb(217, 245, 235);
}

h3 {
  text-align: center;
}

span,
p {
  padding: 0 20px;
}

span {
  text-decoration: line-through;
}
