/** CABECALHO **/

.cabecalho {
    height: 72px;
    width: 100%;
    background-color: var(--vermelho-primario);
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    filter: drop-shadow(0px 1px 1px #000000);
}

.cabecalho__logo span {
    font-family: var(--fonte-playfair);
    font-size: 5rem;
    font-weight: bold;
}

.nav {
    font-size: 2.5rem;
}

.lista-menu {
    display: flex;
    list-style: none;
}

.lista-menu__item {
    margin: 0 14px;
}

.lista-menu__item a {
    font-family: var(--fonte-bitter);
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding: 6px 12px;
}

.lista-menu__item--destaque a{
    background-color: var(--laranja-destaque);
    letter-spacing: 0.2rem;
    border-radius: 7px;
    text-transform: uppercase;
}

/** BANNER **/

.banner {
    background: url("./../assets/img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.banner__intro {
    margin-left: 120px;
    font-size: 8rem;
    color: #FFF;
    font-family: var(--fonte-playfair);
    font-weight: bold;
    width: 700px;
    position: relative;
    display: flex;
}

.banner__intro::after {
    content: "";
    background-color: #FFF;
    height: 6px;
    width: 50%;
    position: absolute;
    bottom: -24px;
}

.banner__button {
    margin-left: 120px;
    border: none;
    padding: 12px 24px;
    background-color: var(--laranja-destaque);
    color: #FFF;
    font-family: var(--fonte-bitter);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    border-radius: 5px;
    width: 300px;
}

.banner__button:hover {
    cursor: pointer;
}

.banner__icon {
    position: absolute;
    bottom: 24px;
    align-self: center;
}

/** CARDAPIO **/
.cardapio {
    margin-bottom: 80px;
}

.lista-card {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

.cardapio__titulo {
    margin-top: 80px;
    width: 100%;
    font-size: 6rem;
    text-align: center;
    color: var(--vermelho-primario);
    font-family: var(--fonte-playfair);
}

.card {
    flex-basis: 284px;
}

.card__imagem img {
    width: 284px;
    height: 284px;
}

.card__titulo {
    text-align: center;
    font-weight: 600;
    color: var(--vermelho-primario);
    font-family: var(--fonte-josefin);
    font-size: 3rem;
}

.card__conteudo {
    margin-top: 20px;
    font-family: var(--fonte-josefin);
    font-size: 2rem;
    color: var(--vermelho-corpo-texto);
    text-align: center;
}

/** SOBRE-NOS **/

.sobre-nos {
    display: flex;
    background-color: var(--amarelo-secundario);
}

.sobre-nos__info {
    flex-basis: 400px;
    margin: 80px 0 80px 226px;
}

.sobre-nos__titulo {
    font-family: var(--fonte-playfair);
    color: var(--vermelho-primario);
    font-size: 6rem;
    margin: 0;
    max-width: 100%;
}

.sobre-nos__conteudo {
    margin-top: 48px;
    font-family: var(--fonte-bitter);
    font-size: 3rem;
    color: var(--vermelho-corpo-texto);
}

/** CONTATO **/
.contato {
    padding-top: 80px;
    margin-bottom: 80px;
    display: flex;
}

.contato__info {
    flex-basis: 588px;
    display: flex;
    flex-direction: column;
}
.contato__titulo {
    margin-bottom: 80px;
    align-self: flex-end;
    font-family: var(--fonte-playfair);
    color: var(--vermelho-primario);
    font-size: 6rem;
    margin:0;
}

.contato__endereco {
    margin-top: 60px;
    text-align: right;
}

.contato__mapa img {
    max-height: 360px;
    max-width: 400px;
    margin-top: 20px;
    margin-left: 226px;
}

.endereco__titulo {
    font-size: 3rem;
    color: var(--vermelho-primario);
    font-weight: bold;
    font-family: var(--fonte-bitter);
}

.endereco__lista {
    color: var(--vermelho-corpo-texto);
    font-family: var(--fonte-bitter);
    font-size: 2rem;
}

.endereco__lista li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 4px;
}

.endereco__lista li img {
    text-align: center;
    margin-left: 8px;
}

footer {
    background-color: var(--vermelho-primario);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 2rem;
    font-family: var(--fonte-bitter);
}