:root {
    font-size: 8px;

    --vermelho-primario: #610A0B;
    --vermelho-corpo-texto: #8D3132;
    --laranja-destaque: #C23A25;
    --amarelo-secundario: #F2E7CE;

    --fonte-bitter: 'Bitter', serif;
    --fonte-josefin-sans: 'Josefin Sans', sans-serif;
    --fonte-playfair: 'Playfair Display', serif;
}